{% extends "account/base.html" %}
{% load static ui %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block inner %}

  <div class="card">
    <div class="card-body">
      <h4 class="card-title mb-4 mt-1">{{ object.username }}</h4>
      <hr/>
      {% if object == request.user %}
        {% if object.name %}
          {{ object.name|p_c }}
        {% endif %}
        <div class="list-group">
          <a href="{% url 'users:update' %}"
             class="list-group-item list-group-item-action text-center">My details</a>
          <a href="{% url 'account_email' %}"
             class="list-group-item list-group-item-action text-center">Emails</a>
          <a href="{% url 'users:token' %}"
             class="list-group-item list-group-item-action text-center"
             onclick="return confirm('Are you sure?')">New API token</a>
        </div>
        <ul class="list-group">
      {% endif %}
    </div>
  </div>


  </div>
{% endblock inner %}
