{% extends "base.html" %}
{% load static %}
{% load bootstrap_pagination %}
{% load buttons %}
{% load modals %}
{% load ui %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="card">
    <div class="card-body">
      {% crispy filter.form %}
    </div>
  </div>

  <table class="table table-borderless table-striped">
    <thead class="border-bottom">
    <tr>
      <th>{% fa_l 'datacheck' %}</th>
      <th>{% fa_c 'environment' %}</th>
      <th>{% fa_c 'start' %}</th>
      <th>{% fa_c 'end' %}</th>
      <th>{% fa_c 'status' %}</th>
      <th>{% fa_c 'result' %}</th>
      <th>{% fa_c 'user' %}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
      <tr>
        <td>{{ object.datacheck.code }}</td>
        <td>{{ object.environment.name|p_c }}</td>
        <td><p class="text-center">{{ object.start_time|default_if_none:"" }}</p></td>
        <td><p class="text-center">{{ object.end_time|default_if_none:"" }}</p></td>
        <td><p class="text-center">{% fa_status object %}</p></td>
        <td><p class="text-center">{% fa_result object %}</p></td>
        <td>{{ object.user.username|p_c }}</td>
        <td>
          <p class="text-right">
            {% button_hoverdetail 'checks/checkrun_hoverdetail' object %}
            <button class="btn btn-outline-secondary btn-sm datacheck-details btn-table" data-title="Details"
                    data-url="{% url 'checks:datacheck_info' object.datacheck.id %}">
              <span class="fas fa-info-circle fa-sm"></span>
            </button>
            {% button_rerun object %}
          </p>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>


  {% bootstrap_paginate page_obj range=10 %}
  {% modals_modal 'datacheck' %}

{% endblock %}


{% block javascript %}
  {{ block.super }}

  {% modals_js 'details' 'datacheck' %}


{% endblock javascript %}
