{% extends "base.html" %}
{% load static i18n %}
{% load buttons %}
{% load modals %}
{% block title %}Checks{% endblock %}

{% block content %}
  <table id="checks" class="table table-borderless table-striped">
    <thead>
    <th><p class="text-left"><i class="fas fa-list" title="Check code"></i></p></th>
    <th><p class="text-center"><i class="fas fa-tags" title="Tags"></i></p></th>
    <th><p class="text-center"><i class="fas fa-desktop" title="System"></i></p></th>
    <th><p class="text-center"><i class="fas fa-balance-scale" title="Weight"></i></p></th>
    <th>
      <p class="text-right">
      {% if perms.checks.add_checkrun %}
        <button class="check-run-tag btn btn-outline-success btn-sm" type="button" name="button">
          <i class="fas fa-play" title="Run checks"></i>
        </button>
      {% endif %}
      {% if perms.checks.add_datacheck %}
        {% button_new 'checks_datacheck_create' %}
      {% endif %}
      </p>
    </th>
    </thead>
    <tbody>
    {% for object in datacheck_list %}
      <tr>
        <td>{{ object.code }}</td>
        <td>
          <p class="text-center">
            {% for tag in object.tags.all %}
              <span class="badge badge-secondary">{{ tag.name }}</span>
            {% endfor %}
          </p>
        </td>
        <td><p class="text-center">{{ object.left_system }}</p></td>
        <td><p class="text-center">{{ object.weight }}</p></td>
        <td>
          <p class="text-right">
            <button class="btn btn-outline-secondary btn-sm check-details btn-table" data-title="Details"
                    data-url="{% url 'checks_datacheck_info' object.id %}">
              <span class="fas fa-info-circle fa-sm"></span></button>
            <a href="{% url 'checks_checkrun_list' %}?datacheck={{ object.id }}" title="Runs">
              <button class="btn btn-outline-secondary btn-sm btn-table">
                <span class="far fa-clock fa-sm"></span>
              </button>
            </a>
            {% if perms.checks.add_checkrun %}
              {% button_run object %}
            {% endif %}
            {% if perms.checks.change_datacheck %}
              {% button_edit object %}
            {% endif %}
            {% if perms.checks.delete_datacheck %}
              {% button_delete object %}
            {% endif %}
          </p>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% modals_modal 'datacheck' %}

{% endblock content %}

{% block javascript %}
  {{ block.super }}

  <script type="text/javascript">
    $(document).ready(function () {
      $(".check-details").each(function () {
        $(this).modalForm({
          formURL: $(this).data('url'),
          modalID: "#datacheck-modal"
        });
      });
      $(".check-run-tag").modalForm({
        formURL: "{% url 'check_checkrun_runtag' %}",
        modalID: "#datacheck-modal"
      });
    });
  </script>

  {% modals_run_js 'datacheck' %}
  {% modals_delete_js 'datacheck' %}

{% endblock javascript %}
