<table class="table table-borderless table-striped">
  <tr>
    <td class="w-25"><p class="font-weight-bold">Description</p></td>
    <td>{{ object.description|default_if_none:"" }}</td>
  </tr>
  <tr>
    <td class="w-25"><p class="font-weight-bold">Left logic</p></td>
    <td>
      <code>
        {{ object.left_logic|default_if_none:"" }}
      </code>
    </td>
  </tr>
  <tr>
    <td class="w-25"><p class="font-weight-bold">Relation</p></td>
    <td>
      <code>
        {{ object.get_relation_display|default_if_none:"" }}
      </code>
    </td>
  </tr>
  <tr>
    <td class="w-25"><p class="font-weight-bold">Right logic</p></td>
    <td>
      <code>
        {{ object.right_logic|default_if_none:"" }}
      </code>
    </td>
  </tr>
  {% if object.warning_logic %}
  <tr>
    <td class="w-25"><p class="font-weight-bold">Warning logic</p></td>
    <td>
      <code>
        {{ object.warning_logic }}
      </code>
    </td>
  </tr>
  {% endif %}
</table>
