{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load buttons %}
{% load ui %}
{% block content %}
  <div class="card">
    <div class="card-body">
      {% crispy filter.form %}
    </div>
  </div>

  <table class="table table-borderless table-striped">
    <thead class="border-bottom">
    <tr>
      <th><p class="text-left">{% fa 'environment' %}</p></th>
      <th><p class="text-center">{% fa 'datacheck' %}</p></th>
      <th><p class="text-center">{% fa 'start' %}</p></th>
      <th><p class="text-center">{% fa 'end' %}</p></th>
      <th><p class="text-center">{% fa 'status' %}</p></th>
      <th><p class="text-center">{% fa 'result' %}</p></th>
      <th><p class="text-center">{% fa 'user' %}</p></th>
      <th></th>
    </tr>
    </thead>
    {% for object in object_list %}
      <tr>
        <td><p class="text-left">{{ object.environment.name }}</p></td>
        <td><p class="text-center">{{ object.datacheck.code }}</p></td>
        <td><p class="text-center">{{ object.last_start_time |default_if_none:"" }}</p></td>
        <td><p class="text-center">{{ object.last_end_time |default_if_none:"" }}</p></td>
        <td><p class="text-center">{%  fa_status object %}</p></td>
        <td><p class="text-center">{% fa_result object %}</p></td>
        <td><p class="text-center">{{ object.user.username }}</p></td>
        <td>{% button_rerun object %}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
