{% extends "base.html" %}
{% load static %}
{% load bootstrap_pagination %}
{% load buttons %}
{% load modals %}
{% load ui %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="card">
    <div class="card-body">
      {% crispy filter.form %}
    </div>
  </div>

  <table class="table table-borderless table-striped">
    <thead>
    <tr>
      <th>{% fa_l 'system' %}</th>
      <th>{% fa_c 'environment' %}</th>
      <th>{% fa_c 'schema' %}</th>
      <th>{% fa_c 'table' %}</th>
      <th>{% fa_c 'start' %}</th>
      <th>{% fa_c 'end' %}</th>
      <th>{% fa_c 'status' %}</th>
      <th>{% fa_c 'rows' %}</th>
      <th>{% fa_c 'report' %}</th>
      <th>{% fa_c 'user' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
      <tr>
        <td>{{ object.dbtable.system.name|p_l }}</td>
        <td>{{ object.dbtable.environment.name|p_c }}</td>
        <td>{{ object.dbtable.schema|p_c }}</td>
        <td>{{ object.dbtable.name|p_c }}</td>
        <td><p class="text-center">{{ object.start_time|default_if_none:"" }}</p></td>
        <td><p class="text-center">{{ object.end_time|default_if_none:"" }}</p></td>
        <td><p class="text-center">{% fa_status object %}</p></td>
        <td>{{ object.rows|default_if_none:""|p_c }}</td>
        <td>{% if object.status == 'FINISHED' %}
          <p class="text-center">
            <a href="{% url 'profiling:profile_detail' object.pk %}" target="_blank">
              <i class="fas fa-file-alt" title="Report"></i>
            </a>
          </p>
        {% endif %}
        </td>
        <td>{{ object.user.username|p_c }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% bootstrap_paginate page_obj range=10 %}

{% endblock %}
