{% extends "base.html" %}
{% load static %}
{% load bootstrap_pagination %}
{% load buttons %}
{% load ui %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="card">
    <div class="card-body">
      {% crispy filter.form %}
    </div>
  </div>

  <table class="table table-borderless table-striped">
    <thead>
    <tr>
      <th>{% fa_l 'system' %}</th>
      <th>{% fa_c 'environment' %}</th>
      <th>{% fa_c 'schema' %}</th>
      <th>{% fa_c 'table' %}</th>
      <th>{% fa_c 'rows' %}</th>
      <th>{% fa_c 'last_run' %}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
      <tr>
        <td>{{ object.system.name|p_l }}</td>
        <td>{{ object.environment.name|p_c }}</td>
        <td>{{ object.schema|p_c }}</td>
        <td>{{ object.name|p_c }}</td>
        <td>{{ object.rows|default_if_none:""|p_c }}</td>
        <td><p class="text-center">{{ object.last_profiling_at|default_if_none:"" }}</p></td>
        <td>
          <p class="text-right">
            {% if object.last_profiling_at %}
              <a href="{% url 'profiling:profile_list' %}?dbtable={{ object.id }}" title="Runs">
                <button class="btn btn-outline-secondary btn-sm btn-table">
                  <span class="far fa-clock fa-sm"></span>
                </button>
              </a>
            {% endif %}
            {% button_profile object %}
          </p>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% bootstrap_paginate page_obj range=10 %}

{% endblock %}
