{% extends "base.html" %}
{% load static %}
{% load bootstrap_pagination %}
{% load buttons %}
{% load ui %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="card">
    <div class="card-body">
      {% crispy filter.form %}
    </div>
  </div>

  <table class="table table-borderless table-striped">
    <thead>
    <tr>
      <th><p class="text-left">{% fa 'system' %}</p></th>
      <th><p class="text-center">{% fa 'environment' %}</p></th>
      <th><p class="text-center">{% fa 'schema' %}</p></th>
      <th><p class="text-center">{% fa 'table' %}</p></th>
      <th><p class="text-center">Rows</p></th>
      <th><p class="text-center">{% fa 'last_run' %}</p></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
      <tr>
        <td>
          <p class="text-left">
            {{ object.system.name }}
          </p>
        </td>
        <td><p class="text-center">
          {{ object.environment.name }}
        </p></td>
        <td><p class="text-center">
          {{ object.schema }}
        </p></td>
        <td><p class="text-center">
          {{ object.name }}
        </p></td>
        <td><p class="text-center">
          {{ object.rows|default_if_none:"" }}
        </p></td>
        <td><p class="text-center">
          {{ object.last_profiling_at|default_if_none:"" }}
        </p></td>
        <td>
          <p class="text-right">
            <a href="{% url 'profiling:profile_list' %}?dbtable={{ object.id }}" title="Runs">
              <button class="btn btn-outline-secondary btn-sm btn-table">
                <span class="far fa-clock fa-sm"></span>
              </button>
            </a>
            {% button_profile object %}
          </p>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% bootstrap_paginate page_obj range=10 %}

{% endblock %}
