{% extends "base.html" %}
{% load static %}
{% load buttons %}
{% load modals %}
{% load ui %}
{% block content %}
  <table class="table table-borderless table-striped">
    <thead>
    <tr>
      <th><p class="text-left">{% fa 'environment' %}</p></th>
      <th style="width: 12.5%">
        {% if perms.systems.add_environment %}
          <p class="text-right">
          {% button_new 'systems:environment_create' %}
          </p>
        {% endif %}
      </th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
      <tr>
        <td>
          <p class="text-left">{{ object.name }}</p>
        </td>
        <td>
          <p class="text-right">
            {% if perms.systems.change_environment %}
              {% button_edit object %}
            {% endif %}
            {% if perms.systems.delete_environment %}
              {% button_delete object %}
            {% endif %}
          </p>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% modals_modal 'environment' %}

{% endblock %}

{% block javascript %}

  {{ block.super }}
  {% modals_js 'delete' 'environment' %}

{% endblock %}
