{% extends "base.html" %}
{% load static %}
{% load buttons %}
{% load modals %}
{% load ui %}
{% block content %}
  <table class="table table-borderless table-striped">
    <thead>
    <tr>
      <th>{% fa_l 'system' %}</th>
      <th>{% fa_c 'environment' %}</th>
      <th>{% fa_c 'host' %}</th>
      <th>
        {% if perms.systems.add_instance %}
          <p class="text-right">
          {% button_new 'systems:instance_create' %}
          </p>
        {% endif %}
      </th>
    </tr>
    </thead>
    {% for object in object_list %}
      <tr>
        <td>{{ object.system }}</td>
        <td>{{ object.environment|p_c }}</td>
        <td>{{ object.host|default_if_none:""|p_c }}</td>
        <td>
          <p class="text-right">
            <a href="{% url 'systems:instance_reflect' object.pk %}" title="Rerun">
              <button class="btn btn-outline-secondary btn-sm btn-table">
                <span class="fas fa-table fa-sm"></span>
              </button>
            </a>
            {% button_hoverdetail 'systems/instance_hoverdetail' object %}
            {% if perms.systems.change_instance %}
              {% button_edit object %}
            {% endif %}
            {% if perms.systems.delete_instance %}
              {% button_delete object %}
            {% endif %}
          </p>
        </td>
      </tr>
    {% endfor %}
  </table>
  {% modals_modal 'instance' %}

{% endblock %}

{% block javascript %}

  {{ block.super }}
  {% modals_js 'delete' 'instance' %}

{% endblock %}
